body {
    margin:0;
    font-family: 'Prompt', sans-serif;
    color: #FFFAFF;
    background-color: #1E1B18;
}

h1 {
    font-family:'Prompt', sans-serif;
}

.header {
    background-color: #0A2463;
}

a:link {
    color: #FFFAFF !important; 
}

.sidebar-sticky {
    background-color: #1E1B18;
}

.navbar {
    background-color: #0A2463;
}

button {
    background-color: #D8315B;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #D8315B;
    border-radius: 15px;
    margin: 1px;
}

.footer {
    /* margin-top: auto; */
    background-color: #D8315B;
    padding: 10px;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.course_card, .post_card {
    background-color: #3E92CC !important; 
    margin: 7px;
}

#site-search {
    font-size: 18px;
    padding: 8px;
    border: 1px solid #FFFAFF;
    border-radius: 15px;
    margin: 1px;
}

.form-floating{
    margin: 7px;
    
}

.btn-primary{
    margin: 7px;
    width: 500px;
}

.checkbox {
    accent-color: #D8315B;
}


