body {
    margin:0;
    font-family: 'Prompt', sans-serif;
    color: #FFFAFF;
    background-color: #1E1B18;
}

h1 {
    font-family:'Prompt', sans-serif;
}

a:link {
    color: #FFFAFF;
}

.sidebar-sticky {
    background-color: #1E1B18;
}

.navbar {
    background-color: #0A2463;
}

button {
    background-color: #D8315B;
}

.footer {
    margin-top: auto;
    background-color: #D8315B;
    padding: 10px;
}

.course_card, .post_card {
    background-color: #3E92CC !important; 
    margin: 7px;
}
