{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Course
{% endblock %}


{% block body_block %}

<div class="container-fluid h-100">
  <div class="row">
    <div class="col-"><h1>{{course.title}}</h1></div>
    <div class="col-6"><input class="w-100 h-75" type="search" id="site-search" name="search" placeholder="Search" /></div>
    <div class="col">
      <input class="form-check-input" type="checkbox" id="titleCheck" name="Title" value="test" />
      <label class="form-check-label" >Title</label>
    </div>
    <div class="col">
      <input class="form-check-input" type="checkbox" id="desCheck" name="Description" value="test" />
      <label class="form-check-label" >Description</label>
    </div>
  </div>

  <hr class="row">

  <!-- Post list section -->

  <div class="row">
    <ul class="list-group">
      <div class="card-columns" id="posts_div">
        <script>
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            document.getElementById("posts_div").innerHTML = this.responseText;
            console.log(this.responseText)
            }
          };
          xhttp.open("GET", "/get_posts?format=xml&course={{course.code}}&xml_fields[]=votes", true);
          xhttp.send();
        </script>
      </div>
    </ul>
  </div>


  <hr class="row" />
  <!-- Post new resource section -->
  <div class="row">
    <h2>Post A New Resource</h2>

    <form action="/action_page.php">
      <label for="fname">Resource Title</label><br />
      <input type="text" id="resTitle" name="resTitle" value="" /><br />
      <label for="lname">Resource Description</label><br />
      <input type="text" id="lname" name="lname" value="" /><br /><br />
      <label for="lname">Resource File</label><br />
      <input type="file" id="resFile" name="resFile" value="File" accept="application/pdf" />
      <br />
      <br />
      <br />
      <input type="submit" value="Request" />
    </form>
  </div>
</div>

{% endblock %}
