{% extends "base.html" %}


{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
  COURSE SEARCH: 
  <input type="search" id="site-search" name="search" placeholder="Search" size="80">

  <button>Search</button>

  <hr class="solid">

  <ul class="list-group">

    <div>
      {% for course in courses %}
        <div style="border-radius: 25px; background: #A9A9A9		; padding: 20px; width: 270px; height: 180px; float: left;">
          <h3>{{ course.title }}</h3>
          <p>{{ course.code }}</p>
          <p>Existing Materials: xx</p>
          <p>Total Likes in This Course: xxxx</p>
        </div>
      {% endfor %}
    </div>

  
{% endblock %}