{% extends "base.html" %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}
  <input type="text" id="site-search" name="search" placeholder="Course Search..." size="80">

  <button onclick="searchAndUpdateCourses(document.getElementById('site-search').value)">Search</button>

  <hr class="solid">

  <ul class="list-group">

    <div class="card-columns" id="courses_div">
    </div>

{% endblock %}

{% block extra_js_block %}
  <script src="{% static 'js/home.js' %}" > </script>
{% endblock %}