{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}

  <!-- <div class="wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div> -->

  COURSE SEARCH: 

  <input type="search" id="site-search" name="search" placeholder="Search" size="80">

  <button>Search</button>

  <hr class="solid">

  <ul class="list-group">

    <div class="card-columns" id="courses_div">
    </div>

  <script>
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      document.getElementById("courses_div").innerHTML = this.responseText;
      }
    };
    xhttp.open("GET", "get_courses?format=xml&xml_fields[]=title&xml_fields[]=code&xml_fields[]=exis_mate&xml_fields[]=likes", true);
    xhttp.send();
  </script>

{% endblock %}