<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Studdit
        </title>
    </head>
    <body>
        <div class="container-fluid", style="text-align:center">
            <h3>Login to Studdit</h3>
            <form (to complete will add at later date)>
                Username: <input type="text" class="form-control" id="username" value="" size="30" /> 
                <br />
                Password: <input type="password" class="from-control" id="password" value="" size="30" /> 
                <br />
                <input  type="submit" value="Login"/>
                <br />
                <input type="submit" value="Forgot password" />
                <input type="submit" value="Register" />
                <br/>
                Still got lots to fix just made a start at the desgin 
            </form>
        </div>
    </body>
</html>
