{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Post
{% endblock %}

{% block body_block %}
<div class = "container-fluid">
  
  <embed src="/media/{{post.course.code}}/{{post.filename}}" type="application/pdf" height="500" width="100%" >
  <div class="well">
    
    <h2> POST TITLE 
      
    
      
    <button  disabled>votes:<p class="float-right" id="votes">{{votes}}</p></button>
    <button style="border: 2px solid grey;" class = "{{colourLiked}}" id="upvote" data-postid="{{ post.id }}"  data-liked = "{{liked}}" data-username = "{{ user.id }}" style="width:30px;" type = "button" >+ </button><button  style="border: 2px solid grey;" class = "{{colourDisliked}}" id="downvote" style="width:30px;" data-postid="{{ post.id }}" data-disliked = "{{disliked}}">− </button>
    

    
    </h2>
  </h2>
  <h3>
    Some stuff about the post will go here.  Some stuff about the post will go here.  Some stuff about the post will go here.  Some stuff about the post will go here.
    
    
    

  </h3>
  </div>

  <hr class="solid">

  <div class="well">
    <input type="search" id="site-search" name="search" placeholder="comment..." size="165">

  <button class="float-right">comment</button>

  <div class = "scroll">
    
    <ul class="list-group">
      {% if comment %}
        <ul>
            {% for c in comment %}
      
      
      <li class="list-group-item">{{ c.student.user}} says:  {{c.content}}<button class = "float-right" id="minus2" style="width:30px;">− </button><button class = "float-right" id="plus2" style="width:30px;">+ </button></li>
      
      {% endfor %}
      {% endif %}
    </ul>
    
  </div>

</div>
{% endblock %}