{% extends "base.html" %}
{% load static %}


{% block title_block %}
    Post
{% endblock %}

{% block body_block %}
<div class = "container-fluid">

  <embed src="/media/{{post.course.code}}/{{post.filename}}" height="700" width="100%">

  <div class="well">
    <h2 class="d-inline" > {{post.title}} </h2>
    <div class="float-right">
      <button disabled>votes: {{votes}}</button>
      <button class="{{colourLiked}}" id="upvote" data-postid="{{ post.id }}" data-liked="{{liked}}" data-username="{{ user.id }}" type = "button">+</button>
      <button class="{{colourDisliked}}" id="downvote" data-postid="{{ post.id }}" data-disliked="{{disliked}}">−</button>
    </div>
  </h2>
  <h3> {{post.description}} </h3>
  </div>

  <hr class="solid bg-light"></hr>

  <div class="well">
    <form action="{% url 'comment' post.course.code post.slug %}" method="post">
      {% csrf_token %}
      <button id='comment' data-postid="{{ post.id }}" data-username="{{ user.id }}">Add Comment</button>
      <input type="search" id="post-comment" name="content" placeholder="comment..." >
    </form>
  </div>

  {% if comment %}
  <div class="scroll w-100">
        {% for c in comment %}
        <li class="list-group-item mb-1" id="comments">{{c.date}} {{c.student.user.username}} says: {{c.content}}</li>
        {% endfor %}
  </div>
  {% endif %}

</div>
{% endblock %}