{% extends "base.html" %}
{% load static %}

{% block title_block %}
    Post
{% endblock %}

{% block body_block %}
<div class = "container-fluid">
  
  <embed src="/media/{{post.course.code}}/{{post.filename}}" type="application/pdf" height="500" width="100%" >
  <div class="well">
    
    <h2> {{post.title}}
      
    
      
    <button  disabled>votes:<p class="float-right" id="votes">{{votes}}</p></button>
    <button  class = "{{colourLiked}}" id="upvote" data-postid="{{ post.id }}"  data-liked = "{{liked}}" data-username = "{{ user.id }}"  type = "button" >+ </button><button   class = "{{colourDisliked}}" id="downvote"  data-postid="{{ post.id }}" data-disliked = "{{disliked}}">− </button>
    

    
    </h2>
  </h2>
  <h3>
    {{post.description}}
    
    
    

  </h3>
  </div>

  <hr class="solid">

  <div class="well">
    <input type="search" id="post-comment" name="search" placeholder="comment..." >

    
    
    
      <button id = 'comment' data-postid="{{ post.id }}" data-username = "{{ user.id }}" class = 'float-left' value="Add comment">Add Comment</button> 
    
  </div>

  <div class = "scroll">
    
    <ul class="list-group">
      {% if comment %}
        <ul>
            {% for c in comment %}
      
      
      <li id = "comments"  class="list-group-item">{{c.date}} {{ c.student}} says:  {{c.content}}<button class = "float-right" id="minus2" >− </button><button class = "float-right" id="plus2" >+ </button></li>
      
      {% endfor %}
      {% endif %}
    </ul>
    
  

</div>
{% endblock %}