{% extends "base.html" %}
{% load static %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}

<div class="container-fluid">

  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col">
          <div class="row border h-50">
            <h4>account username:</h4>
            <h4>{{ user.username }}</h4>
          </div>
          <div class="row border h-50">
            <h4>account email:</h4>
            <h4>{{ user.email }}</h4>
          </div>
        </div>
        <div class="col-  border">
          <form>
            <h3>CHANGE USERNAME</h3>
            <h4>desired username:</h4>
            <input type="text" class="form-control" id="username" placeholder="username" required="">
            <button class="btn-primary w-100" type="submit">change</button>
          </form>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col border">
          <form>
            <h3>CHANGE PASSWORD</h3>
            <div class="row">
              <div class="col">
                <h4>previous password:</h4>
                <input type="text" class="form-control" id="username" placeholder="********" required="">
              </div>
              <div class="col">
                <h4>new password:</h4>
                <input type="text" class="form-control" id="username" placeholder="********" required="">
              </div>
            </div>
            <br />
            <button class="btn-primary w-100" type="submit">change</button>
          </form>
        </div>
        <div class="col border">
          <form>
            <h3>REQUEST A NEW COURSE PAGE</h3>
              <div class="row">
                <div class="col">
                  <h4>course code:</h4>
                  <input type="text" class="form-control" id="username" placeholder="COMPSCI1001" required="">
                </div>
                <div class="col">
                  <h4>course title:</h4>
                  <input type="text" class="form-control" id="username" placeholder="computing science 1P" required="">
                </div>
              </div>
              <br />
              <button class="btn-primary w-100" type="submit">request</button>
          </form>
        </div>
      </div>

      <br />

      <form class="row border">
        <div class="col-">
          <button class="btn-danger" type="submit" style="display: inline">DELETE<br />ACCOUNT</button>
        </div>
        <div class="col">
          <p style="display: inline">DISCLAIMER: deleting your account will ireversably delete your comments, posts, username, email, and encrypted password from out database.</p>
          <p class="text-danger" style="display: inline;">they will not be recoverable.</p>
        </div>
      </form>

    </div>
  </div>

  <br />

  <div class="row">
    <div class="container px-0">
      <h3>my posts:</h3>
      <div class="card-columns">
      {% for i in '0123456789'|make_list %} {# TODO: change this for loop to be for course in courses (when the course database actually exists) #}
        <div class="card bg-secondary text-white text-center p-3">
          <button class="btn-danger float-left">DELETE</button>
          <button class="btn-light float-right" disabled>votes: xx</button>
          <br />
          <h3>a typically very long post title</h3>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}