{% extends "base.html" %}
{% load static %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}

<!-- a div dedicated to holding info from the django template engine, for javascript to use -->
<div hidden id="template_data" data-get_posts_url="{% url 'API_get_posts' %}" data-user_username="{{ user.username }}"> </div>

<div class="container-fluid">

  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col">
          <div class="row h-50">
            <h4>account username:</h4>
            <h4>{{ user.username }}</h4>
          </div>
          <div class="row h-50">
            <h4>account email:</h4>
            <h4>{{ user.email }}</h4>
          </div>
        </div>
        <div class="col- ">
          <form action="{% url 'change_username' %}" method="post">
          {% csrf_token %}
            <h3>CHANGE USERNAME</h3>
            <h4>desired username:</h4>
              <input type="text" class="form-control" name="username" placeholder="username" required="true">
              <button class="btn-primary w-100" type="submit">change</button>
          </form>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <h3>CHANGE PASSWORD</h3>
            <div class="row">
              <div class="col">
                <h4>previous password:</h4>
                <input type="password" class="form-control" name="newpass" placeholder="********" required="true">
              </div>
              <div class="col">
                <h4>new<br />password:</h4>
                <input type="password" class="form-control" name="newpass_confirm" placeholder="********" required="true">
              </div>
            </div>
            <br />
            <button class="btn-primary w-100" type="submit">change</button>
          </form>
        </div>
        <div class="col">
          <form>
            <h3>REQUEST A NEW COURSE PAGE</h3>
              <div class="row">
                <div class="col">
                  <h4>course code:</h4>
                  <input type="text" class="form-control" id="username" placeholder="COMPSCI1001" required="">
                </div>
                <div class="col">
                  <h4>course title:</h4>
                  <input type="text" class="form-control" id="username" placeholder="computing science 1P" required="">
                </div>
              </div>
              <br />
              <button class="btn-primary w-100" type="submit">request</button>
          </form>
        </div>
      </div>

      <br />

      <form class="row">
        <div class="col-">
          <button class="btn-danger d-inline" type="submit">DELETE<br />ACCOUNT</button>
        </div>
        <div class="col">
          <p class="d-inline">DISCLAIMER: deleting your account will ireversably delete your comments, posts, username, email, and encrypted password from out database.</p>
          <p class="text-danger d-inline">they will not be recoverable.</p>
        </div>
      </form>

    </div>
  </div>

  <br />

  <div class="row">
    <div class="container px-0">
      <h3>my posts:</h3>
      <div id="posts_div" class="card-columns" > </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js_block %}
  <script src="{% static 'js/profile.js' %}" > </script>
{% endblock %}